#bg-nested-dropdown {
    color: #0FABF8;
    background-color: white;
    font-size: 24px;
    border-color: white;
    font-family: 'Numans', sans-serif;
}
.dropdown {
    font-family: 'Numans', sans-serif;
    color: #0FABF8;
}